@import "variables.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;  
    width: 100%;
}

p {
    color: rgb(255, 1, 1);
}

header { 
    background-image: url("./img/slider/img_bg_slider_home01.jpg");
    width: 100%;
}

.logo{
    position: relative;
    top : 20px;
    left: 30px;
    width: 100%;
}

.phone-image {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 350px;
}



/* BARRE DE NAVIGATION */

.barre-nav{
    text-transform: uppercase;
}

.menuderoulant {
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;
}

.menuderoulant li {
    float: left;
    width: 80px;
}

.menuderoulant li a:link, .menuderoulant li a:visited {
    display: block;
    color: #FFFFFF;
    background: transparent;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {background-color: #684caa;}
.menuderoulant li a:active {background-color: transparent;}

.menuderoulant .sub{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menuderoulant .sub li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menuderoulant .sub li a:link, .menuderoulant li .sub a:visited{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
}

.menuderoulant .sub li a:hover{
    background-color: #684caa;
}

.menuderoulant li a:hover .sousmenu{
    display: block;
}

h2 {
  text-transform: uppercase;
  font-family:'Courier New', Courier, monospace;
  color: #684caa;
  

} 

/*
$playfair: 'Playfair Display', sans-serif; 
$roboto: 'Roboto', serif;
$poppins: 'Poppins', sans-serif;
$open: 'Open Sans', sans-serif;
$kababi: #b88c5c;
*/